*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	background-color: #262626;
	text-align: center;
	min-height: 100%;
	background-image: url(imgs/body.png);
	background-size: cover;
}
body{
	text-align: center;
	min-height: 100%;
	background-size: cover;
}
.header{
	grid-area: header;
}
.logo1{
	width: 370px;
	height: 220px;
	justify-content: center;
}
.navbar{
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.paginainterior{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #d9d4c9;
	background-color: #262626;
	padding: 15px;
	border-radius: 28px;
}
.paginainterior:hover{
	color: #d9d4c9;
	background-color: #454545;
}
.main{
	grid-area: main;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	display: grid;
	margin-top: 50px;
	grid-template: 
	"contacto" 1fr
	"equipo"  auto /
	100%;
}
.fotoinicio{
	grid-area: foto;
	height: 750px;
	width: 90%;
}
h1{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 30px;
	color: #d9d4c9;
	text-align: center;
	margin-top: 70px;

}
.texto1{
	grid-area: texto;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 70px;
	color: #d9d4c9;
	text-align: center;
}
.subtitulo1{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	color: #d9d4c9;
	text-align: center;
	margin-top: -150px;
	margin-bottom: 30px;
}
.main1{
	padding-bottom: 18%;
}
.elementoCarousel{
	display: none;
}
.elementoCarousel img{
	width: 100%;
	padding-bottom: 2%;
	padding-top: 5%;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	width: auto;
	color: rgb(252, 250, 250);
	font-weight:lighter;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	padding: 12px;
	top: 700px;
}
.next{
	right: 0%;
	border-radius: 3px 0 0 3px;
}
.prev{
	left: 0%;
	border-radius: 3px 0 0 3px ;
}
.prev:hover, .next:hover{
	background-color: #454545;
	padding: 7px;
}
.numbertext{
	color: #fdfafa;
	margin-left: 10px;	
	padding: 85px;
	font-size: 18px;
	position: absolute;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover{
	background-color: #454545;
}
.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}
  @keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}
#myBtn{
	display: none; /* Esconder por default */
	position: fixed; /* Position */
	bottom: 3%;
	right: 2%; 
	z-index: 99; /* Que nada se superponga */
	border: none; 
	outline: none; 
	background-color: #454545;
	color: #f2f2f2; 
	cursor: pointer; 
	padding: 8px;
	border-radius: 10px;
	font-size: 18px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#myBtn:hover{
	background-color: #454545; /* Add a dark-grey background on hover */
}
.slider img{
	width: 90%;
	height: 870px;
	object-fit: cover;
}
.artistas1{
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	margin-bottom: 70px;
	justify-content: center;
}
.tituloartistas{
	font-size: 35px;
	margin-top: 70px;
	margin-bottom: 80px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d9d4c9;
	display: flex;
	justify-content: center;
}
h4{
	margin-bottom: 30px;
}
.fotoartistas{
	height: 200px;
}
.maui{
	grid-area: maui;
	color: #d9d4c9;
	margin-bottom: 50px;
	margin-right: 170px;
}
.moana{
	grid-area: moana;
	color: #d9d4c9;
	margin-bottom: 50px;
	margin-right: 170px;
}
.chieftiu{
	grid-area: chieftiu;
	color: #d9d4c9;
	margin-bottom: 50px;
}
.galery-container{
    width: 85%;
    margin: 100px auto;
	margin-bottom: -230px;
}
.galery-container .galery-card{
    overflow: hidden;
}
.galery-container .galery-card img{
    width: 90%;
    height: 90%;
    margin-bottom: 3%;
    object-fit: cover;
    transition: 1s;
}
.galery-container .galery-card img:hover{
    transform: scale(1) rotate(1deg);
}
form{
    margin: 0 auto;
    width: 75%;
	height: 500px;
	justify-content: center;
    background-color: rgb(200, 186, 169);
    padding: 75px;
    font-size: 20px;
    color: rgb(79, 60, 35);
    margin-top: 70px;
    margin-bottom: 60px;
}
input{
    outline: none;
    border: 0;
    border: solid 1px #ccc;
    padding: 10px;
    width: 500px;
    height: 38px;
    margin-bottom: 30px;
    margin-top: 10px;
}
input:focus{
    border-color: rgb(195, 156, 106);
}
button{
    border: solid 1px #ccc;
    border-color: rgb(195, 156, 106);
    padding: 8px;
    width: 85px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(57, 42, 22);
    justify-content: center;
}
button:hover{
    color: rgb(69, 47, 19);
    transform: scale(1.2);
    line-height: 16px;
    border-radius: 1%;
}
.mapa{
	width: 900;
	height: 600px; 
	overflow: hidden;
}
.fotos{
	display: flex;
	flex-direction: row;
	gap: 90px;
	margin-bottom: 60px;
}
.footer{
	grid-area: footer;
	justify-items: end;
	align-content: center;
	border-top:#d9d4c9 solid 3px ;
	background-color: #262626;
}
.redes{
    min-width: 300px;
    justify-content: center;
	padding: 50px;
}
.redes a{
    font-size: 28px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 60%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}
.redes a:hover{
    transform: scale(1.2);
}
.icon{
    display: none;
}
.redes1{
	width: 50px;
	height: 50px;
}
.redes2{
	width: 50px;
	height: 50px;
	margin-left: 15px;
}
.redes3{
	width: 85px;
	height: 50px;
}

@media (min-width: 480px) and (max-width: 767px) {
	.grid_container{
		display: grid;
		display: flex;
		flex-direction: column;
		justify-self: center;
		grid-template-columns: 
		"header"    100px
		"navbar" 	100px 
		"main" 		auto
		"footer" 	100px;
	}
	.logo1{
		width: 330px;
		height: 190px;
		text-align: center;
		position: relative;
		margin-bottom: 20px;
	}
	.header{
		display: grid;
		flex-direction: column;
	}
	.navbar{
		display: flex;
		flex-direction: column;
		gap: 60px;
		justify-content: center;
	}
	.subtitulo1{
		margin-top: -15px;
		font: 30px;
	}
	.slider img{
		width: 85%;
		height: 400px;
	}
	.numbertext{
		margin-left: 13px;	
		padding: 37px;
	}
	.prev, .next{
		top: 480px;
	}
	.main{
		font-size: 24px;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.paginainterior{
		margin-top: -50px;
		padding: 15px;
	}
	.fotoinicio{
		height: 310px;
		width: 90%;
	}
	.galery-container .galery-card{		
		margin-bottom: 180px;
	}
	.fotos{
		grid-template-columns: repeat(1, 1fr);
		display: flex;
		flex-direction: column;
	}
	.tituloartistas{
		margin-top: -5px;
	}
	.artistas1{
		grid-area: artistas1;
		display: flex;
		flex-direction: column;
		gap: 50px;
		grid-template: 
		"titulo" 85px
		"maui" 175px
		"texto1" 70px
		"moana" 175px
		"texto2" 70px
		"chieftiu" 175px
		"texto3" 70px/
		1fr;
		margin-bottom: 20px;
		justify-self: center;
	}
	p{
		font-size: 20px;
	}
	h4{
		font-size: 19px;
		text-align: justify;
	}
	.mauitexto{
		margin-left: 50px;
	}
	.maui{
		grid-area: maui;
		margin-left: 90px;
	}
	.moana{
		grid-area: moana;
		justify-self: center;
		margin-left: 150px;
	}
	.chieftiu{
		grid-area: chieftiu;
		justify-self: center;
		margin-right: 20px;
	}
	.form{
		width: 75%;
		height: 430px;
		padding: 55px;
		font-size: 18px;
	}
	input{
		border: solid 1px #ccc;
		width: 100%;
		height: 37px;
	}
	button{
		width: 90px;
		height: 32px;
		font-size: 16px;
	}
	.mapa{
		width: 75%;
		height: 550px;
	}
	.redes{
		margin-top: 30px;
		margin-bottom: 20px;
		gap: 25px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.redes1{
		width: 65px;
		height: 65px;
	}
	.redes2{
		width: 65px;
		height: 65px;
		margin-right: 15px;
	}
	.redes3{
		width: 112px;
		height: 65px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.grid_container{
		display: grid;
		display: flex;
		flex-direction: column;
		justify-self: center;
		grid-template-columns: 
		"header"    100px
		"navbar" 	100px 
		"main" 		auto
		"footer" 	100px;
	}
	.logo1{
		width: 320px;
		height: 190px;
		align-content: center;
	}
	.header{
		display: flex;
		flex-direction: column;
		justify-self: center;
	}
	.navbar{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 40px;
		gap: 70px;
	}
	.subtitulo1{
		text-align: center;
	}
	.main{
		font-size: 24px;
		justify-content: center;
	}
	.paginainterior{
		margin-top: -50px;
	}
	.fotoinicio{
		height: 450px;
		width: 90%;
	}
	.slider img{
		width: 90%;
		height: 550px;
	}
	.numbertext{
		margin-left: 7px;	
		padding: 50px;
	}
	.prev, .next{
		top: 530px;
	}
	.galery-container .galery-card{		
		margin-bottom: 150px;
	}
	.tituloartistas{
		margin-top: -7px;
	}
	.artistas1{
		grid-area: artistas1;
		display: flex;
		flex-direction: column;
		gap: 50px;
		grid-template: 
		"titulo" 85px
		"maui" 175px
		"texto1" 70px
		"moana" 175px
		"texto2" 70px
		"chieftiu" 175px
		"texto3" 70px/
		1fr;
		margin-bottom: 20px;
	}	
	.maui{
		grid-area: maui;
		justify-self: center;
		margin-left: 150px;
	}
	.moana{
		grid-area: moana;
		justify-self: center;
		margin-left: 150px;
	}
	.chieftiu{
		grid-area: chieftiu;
		justify-self: center;
		margin-right: 20px;
	}
	.form{
		width: 615px;
		height: 350px;
	}
	input{
		width: 400px;
	}
	.footer{
		padding-top: -70px;
	}
	.redes{
		margin-top: 50px;
		margin-bottom: -10px;
		margin-bottom: 50px;
	}
	.redes1{
		width: 70px;
		height: 70px;
	}
	.redes2{
		width: 70px;
		height: 70px;
		margin-left: 17px;
	}
	.redes3{
		width: 118px;
		height: 70px;
	}
}
