*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	background-color: #262626;
	text-align: center;
	min-height: 100%;
	background-image: url(imgs/body.png);
	background-size: cover;

}
.grid_container{
	display: grid;
	grid-template: 
	"header  navbar" 100px
	"main    main"	auto
	"footer  footer" 100px;
}
body{
	text-align: center;
	min-height: 100%;
	background-size: cover;
}
.header{
	grid-area: header;
}
.logo1{
	margin-bottom: 10px;
	width: 270px;
	height: 160px;
	display: flex;
	justify-content: flex-start;
	margin-left: 1cm;
}
.navbar{
	grid-area: navbar;
	display: flex;
	margin-top: 75px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.paginainterior{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #d9d4c9;
	background-color: #262626;
	padding: 18px;
	border-radius: 35px;
}
.paginainterior:hover{
	color: #d9d4c9;
	background-color: #454545;
}
.main{
	grid-area: main;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	display: grid;
	margin-top: 50px;
	grid-template: 
	"contacto" 1fr
	"equipo"  auto /
	100%;
}
.fotoinicio{
	grid-area: foto;
	height: 500px;
	width: 100%;
}
.contacto{
	grid-area: contacto;
	background-color: #373737;
	margin-top: 18px;
	margin: 10px;
	grid-template:
	"foto	texto" auto /
	1fr		1fr;
	display: grid;
}
.texto1{
	grid-area: texto;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 75px;
	color: #d9d4c9;
	text-align: center;
}
.subtitulo1{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	color: #d9d4c9;
	text-align: center;
	margin-bottom: 30px;
}
.artistas1{
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	margin-bottom: 70px;
	justify-content: center;
}
.tituloartistas{
	font-size: 35px;
	margin-top: 70px;
	margin-bottom: 80px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d9d4c9;
	display: flex;
	justify-content: center;
}
.fotoartistas{
	height: 200px;
}
.maui{
	grid-area: maui;
	color: #d9d4c9;
	margin-bottom: 50px;
	margin-right: 170px;
}
.moana{
	grid-area: moana;
	color: #d9d4c9;
	margin-bottom: 50px;
	margin-right: 170px;
}
.chieftiu{
	grid-area: chieftiu;
	color: #d9d4c9;
	margin-bottom: 50px;
}
.footer{
	grid-area: footer;
	display: grid;
	grid-template: 
	"logo	redes" 1fr /
	100px	auto;
	align-items: center;
	justify-items: end;
	align-content: center;
	border-top:#d9d4c9 solid 3px ;
	background-color: #262626;
}
.logo2{
	grid-area: logo;
	width: 290px;
	height: 140px;
	padding-left: 110px;
}
.redes{
	grid-area: redes;
	margin-right: 10px;

}
.redes1{
	width: 42px;
	height: 42px;
}
.redes2{
	width: 42px;
	height: 42px;
	margin-left: 15px;
}
.redes3{
	width: 74px;
	height: 42px;
}

@media (min-width: 480px) and (max-width: 767px) {
	.grid_container{
		display: grid;
		display: flex;
		flex-direction: column;
		justify-self: center;
		grid-template-columns: 
		"header"    100px
		"navbar" 	100px 
		"main" 		auto
		"footer" 	100px;
	}
	.logo1{
		width: 250px;
		height: 150px;
		margin-left: 115px;
	}
	.header{
		display: grid;
		flex-direction: column;
	}
	.navbar{
		display: flex;
		flex-direction: column;
		gap: 60px;
		justify-content: center;
	}
	.main{
		font-size: 24px;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	.paginainterior{
		margin-top: -50px;
		padding: 15px;
	}
	.fotoinicio{
		height: 280px;
		width: 90%;
		margin-left: 23px;
	}
	.contacto{
		grid-area: contacto;
		background-color: #262626;
		grid-template-columns:
		"foto"	100px
		"texto" 100px /
		1fr;
		display: flex;
		flex-direction: column;
	}
	.tituloartistas{
		margin-top: -7px;
	}
	.artistas1{
		grid-area: artistas1;
		display: flex;
		flex-direction: column;
		gap: 50px;
		grid-template: 
		"titulo" 85px
		"maui" 175px
		"texto1" 70px
		"moana" 175px
		"texto2" 70px
		"chieftiu" 175px
		"texto3" 70px/
		1fr;
		margin-bottom: 20px;
		justify-self: center;
	}
	.logo2{
		grid-area: logo;
		width: 350px;
		height: 150px;
		margin-left: 150px;
		margin-top: -100px;
	}
	.mauitexto{
		margin-left: 50px;
	}
	.maui{
		grid-area: maui;
		margin-left: 90px;
	}
	.moana{
		grid-area: moana;
		justify-self: center;
		margin-left: 150px;
	}
	.chieftiu{
		grid-area: chieftiu;
		justify-self: center;
		margin-right: 20px;
	}
	.redes{
		margin-top: 220px;
		margin-bottom: 70px;
		margin-right: 180px;
		gap: 20px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.redes1{
		width: 70px;
		height: 70px;
	}
	.redes2{
		width: 70px;
		height: 70px;
		margin-right: 15px;
	}
	.redes3{
		width: 120px;
		height: 68px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.grid_container{
		display: grid;
		display: flex;
		flex-direction: column;
		justify-self: center;
		grid-template-columns: 
		"header"    100px
		"navbar" 	100px 
		"main" 		auto
		"footer" 	100px;
	}
	.logo1{
		width: 250px;
		height: 150px;
		align-content: center;
	}
	.header{
		display: flex;
		flex-direction: column;
		justify-self: center;
	}
	.navbar{
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.main{
		font-size: 24px;
		justify-content: center;
	}
	.paginainterior{
		margin-top: -50px;
	}
	.fotoinicio{
		height: 400px;
		width: 90%;
		margin-left: 35px;
	}
	.contacto{
		grid-area: contacto;
		background-color: #262626;
		grid-template-columns:
		"foto"	100px
		"texto" 100px /
		1fr;
		display: flex;
		flex-direction: column;
	}
	.tituloartistas{
		margin-top: -7px;
	}
	.artistas1{
		grid-area: artistas1;
		display: flex;
		flex-direction: column;
		gap: 50px;
		grid-template: 
		"titulo" 85px
		"maui" 175px
		"texto1" 70px
		"moana" 175px
		"texto2" 70px
		"chieftiu" 175px
		"texto3" 70px/
		1fr;
		margin-bottom: 20px;
	}	
	.logo2{
		grid-area: logo;
		width: 350px;
		height: 150px;
		margin-bottom: 20px;
		margin-left: 40px;
	}
	.maui{
		grid-area: maui;
		justify-self: center;
		margin-left: 150px;
	}
	.moana{
		grid-area: moana;
		justify-self: center;
		margin-left: 150px;
	}
	.chieftiu{
		grid-area: chieftiu;
		justify-self: center;
		margin-right: 20px;
	}
	.footer{
		padding-top: -70px;
	}
	.redes{
		margin-top: 40px;
		padding-bottom: 70px;
		margin-right: 10px;
	}
	.redes1{
		width: 70px;
		height: 70px;
	}
	.redes2{
		width: 70px;
		height: 70px;
		margin-left: 17px;
	}
	.redes3{
		width: 118px;
		height: 70px;
	}
}

@media (min-width: 992px) and (max-width:1199px) {
	.grid_container{
		grid-template: 
		"header 	navbar		navbar" 	100px
		"main    	main		main" 		auto
		"footer 	footer 	    footer" 	80px /
		1fr 		1fr 	1fr;
	}
	.main{
		font-size: 1.525em;
	}
	.logo1{
		width: 250px;
		height: 150px;
	}
	.fotoinicio{
		height: 430px;
		width: 100%;
	}
	.paginainterior{
		padding: 20px;
		font-size: 20px;
	}
	.contacto{
		grid-area: contacto;
		background-color: #373737;
		margin: 50px;
		display: grid;
		grid-template:
		"foto	texto" auto /
		1fr		1fr;
	}
	.tituloartistas{
		grid-area: titulo;
	}
	.artistas1{
		grid-area: artistas1;
		display: grid;
		grid-template: 
		"titulo		titulo		titulo" 85px
		"maui		moana		chieftiu" 175px
		"texto		texto		texto" 70px /
		1fr			1fr			1fr	;
		margin-bottom: 1cm;
	}
	.logo2{
		grid-area: logo;
		width: 340px;
		height: 130px;
		margin-left: 30px;
		margin-top: 10px;
	}
	.fotoartistas{
		height: 170px;
		margin-top: -40px;
	}
	.maui{
		margin-left: 40px;
	}
	.redes{
		margin-top: 30px;
	}
	.redes1{
		width: 55px;
		height: 55px;
	}
	.redes2{
		width: 55px;
		height: 55px;
		margin-left: 17px;
	}
	.redes3{
		width: 103px;
		height: 55px;
	}
}
@media (min-width:1200px) {
	.grid_container{
		width: 90%;
		margin: auto;
		grid-template: 
		"header 	header 	navbar		navbar" 	100px
		"main	 	main 	main		main" 		auto
		"footer 	footer 	footer		footer" 	100px /
		1fr 		1fr 	1fr			1fr;
	}
	body{
		text-align: center;
		min-height: 100%;
		background-size: cover;
	}
	.main{
		font-size: 1.55em;
	}
	.fotoinicio{
		height: 520px;
		width: 300px;
		width: 100%;
		grid-area: foto;
	}
	.contacto{
		grid-area: contacto;
		background-color: #373737;
		margin-top: 18px;
		grid-template:
		"foto	texto" auto /
		1fr		1fr;
		display: grid;
	}
	.equipo{
		grid-area: equipo;
		display: grid;
		grid-template: 
		"titulo		titulo		titulo" 85px
		"maui		moana		chieftiu" 175px
		"texto		texto		texto" 70px /
		1fr			1fr			1fr;
		margin-bottom: 1cm;
	}
	.tituloartistas{
		grid-area: titulo;
	}
	.logo2{
		grid-area: logo;
		width: 350px;
		height: 140px;
		margin-left: 35px;
		margin-top: 10px;
	}
	.redes{
		margin-top: 30px;
	}
}
