*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family:'Times New Roman', Times, serif;
	font-size: 1.2rem;
	min-height: 100%; 
	 
}
.grid_container{
	display: grid;
	gap: 10px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	grid-template: 
	"header" 100px
	"navbar" 50px
	"main"	auto
	"footer" 30px
	;
}

.header{
	grid-area: header;
	background-color: #F79F1F;
}


.navbar{
	grid-area: navbar;
	background-color: #A3CB38;
}

.main{
	grid-area: main;
	background-color: #12CBC4;
	margin-left: 25px;
	margin-right: 25px;
}

.sidebar{
	grid-area: sidebar;
	background-color: #D980FA;
}

.footer{
	grid-area: footer;
	background-color: #B53471;
}

@media (min-width: 768px) and (max-width: 991px) {

	.grid_container{

		grid-template: 
		"header 	navbar" 	100px
		"main 	    main" 		auto
		"footer 	footer" 	100px /
		 200px 		auto;
 	}

}

@media (min-width: 992px) {
	.grid_container{
		grid-template: 
		"header 	navbar 	navbar" 	100px 
		"main 	    main 	main" 	auto
		"footer 	footer 	footer" 	100px /
		 400px 		auto 	200px;
	}
}

